/* For all pages */ 

html {
  height: 100%;
  margin: 0;  
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans";
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.topnav {
  background: lavender;
  overflow: hidden;
  padding: 16px;
}

.topnav a {
  color: black;
  display: block;
  float: right;
  font-size: 20px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav-left a {
  color: black;
  display: block;
  float: left;
  font-size: 20px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  color: #8e8ead;
}

#to-top-btn {
  background: #cec6e3;
  border: none;
  border-radius: 10px; /* Round corners */
  bottom: 50px;
  color: black;
  cursor: pointer; /* Add mouse pointer on hover */
  outline: none;
  padding: 10px 16px 0;
  position: fixed;
  right: 50px;
  font-size: 25px;
  z-index: 99; /* Won't overlap */
}

#to-top-btn:hover {
  background: #8e8ead;
}

#pad {
  margin: 0;
  padding: 80px 140px 20px;
}

/* Reduces padding when the width of screen is <= 600px */
@media screen and (max-width: 600px) {
  #pad {
    padding: 5%;
  }
}

/* Home page */

#cover {
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100%;
}

#trans-text{
  background: rgba(0,0,0,.2); /* Black w/opacity/see-through */
  border: 3px solid lavender;
  color: lavender;
  font-weight: bold;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 2;
}

#about-me {
  background: lavender;
  height: 100%;
  overflow: scroll;
  padding: 80px 130px;
}

@media screen and (max-width: 600px) {
  #about-me {
    padding: 5%;
  }
}

#profile {
  border: 2px solid #8e8ead;;
  border-radius: 50%;
  padding: 8px;
}

.right {
  float: right;
  width: 60%;
}

.left {
  float: left;
  width: 30%;
}

.footer {
  background: #8e8ead;
  margin: 0;
  padding: 20px 0px;
  text-align: center;
}

/* Projects Page */

.card {
  display: table-cell;
  text-align: center;
  transition: .3s;
  width: 400px;
}

.card p {
  color: black;
  display: block;
  font-size: 20px;
  padding: 14px 16px;
}

.card:hover {
  opacity: 0.7;
}

.grid-2-col {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto; 
  justify-content: space-evenly;
  padding: 10px;
}

.grid-3-col {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto; 
  justify-content: space-evenly;
  padding: 10px;
}

.grid-2-col p,
.grid-3-col p {
  text-align: center;
}

.grid-2-col img,
.grid-3-col img {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .grid-2-col,
  .grid-3-col {
    display: block;
    width: 100%;
  }
}

.projects-table {
  border: collapse;
  width: 100%;
}

td, 
th {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}

.video-container {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
}

.video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}

/* Fun Photos Page */

.images-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 140px 80px;
}

.images-col {
  flex: 32%;
  max-width: 32%;
  padding: .5%;
}

.images-col img {
  cursor: pointer;
  margin-top: 4%;
  transition: .3s;
  vertical-align: middle;
  width: 100%;
}

.images-col img:hover {
  opacity: .7;
}

@media screen and (max-width: 600px) {
  .images-col {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }
  .images-row {
    padding: 0 20px 80px;
  }
}

/* Modal */

.modal {
  background: rgba(0,0,0,.85); 
  display: none;
  height: 100%; 
  left: 0;
  overflow: auto; 
  padding: 3% 0; 
  position: fixed; 
  scroll-behavior: smooth;
  top: 0;
  width: 100%; 
  z-index: 1; 
}

.modal-content {
  display: block;
  height: 80%;
  margin: auto;
}

#caption {
  color: #ccc;
  display: block;
  font-size: 20px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

.modal-content, #caption {
  animation-duration: .6s;
  animation-name: zoom;
}

#to-comments {
  display: inline-block;
  padding: 5px 11px;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media only screen and (max-width: 700px){
  .modal-content {
    height: auto;
  }
  #caption {
    width: auto;
  }
  .modal {
    padding: 6% 0; 
  }
}

#filter-button {
  font-size: 12px;
  padding: 5px 11px;
}

/* See on map button */
#map-button-container {
  margin: auto;
  width: 60%;
}

#go-to-map {
  padding: 5px 11px;
}

/* Close button */
.close {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
  transition: .3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
  text-decoration: none;
}

/* Comments */
#comments-container {
  color: white;
  margin: auto;
  width: 60%;
}

#all-comments {
  border-bottom: 1px solid #cec6e3;
  list-style: none;
  padding: 0;
}

#all-comments li {
  border-top: 1px solid #cec6e3;
  font-family: "Work Sans";
  font-size: 20px;
  list-style-position:inside;
  margin: 40px auto;
  padding: 12px 20px;
}

#quantity,
#sort {
  font-family: "Work Sans";
  font-size: 20px;
  text-align: center;
}

.input-box {
  background: lavender;
  font-family: "Work Sans";
  font-size: 20px;
  margin: 8px auto;
  opacity: .85;
  padding: 12px 20px;
  width: 100%;
}

#comment-box {
  height: 150px;
}

button,
input[type=submit] {
  background-color: lavender;
  border: none;
  cursor: pointer;
  font-family: "Work Sans";
  font-size: 20px;
  margin: 4px 2px;
  padding: 10px 22px;
}

button:hover,
input[type=submit]:hover {
  opacity: .7;
}

label {
  font-family: "Work Sans";
  font-size: 20px;
}

.delete-button {
  float: right;
}

#map {
  border: thin solid black;
  height: 500px;
  margin: auto;
  width: 1000px;
}

/* Image Uploads */
#uploads {
  border-bottom: 1px solid #cec6e3;
  list-style: none;
  padding: 0;
}

#uploads li {
  border-top: 1px solid #cec6e3;
  font-family: "Work Sans";
  font-size: 20px;
  list-style-position:inside;
  margin: 40px auto;
  overflow: auto;
  padding: 12px 20px;
}

#uploads li span {
  margin: 40px;
}

#error {
  color: darkred;
}

#uploadImage {
  width: 30%;
}