#intro {
  margin: 50px;
  padding: 30px 90px;
}

.right {
  float: right;
  width: 60%;
}

.left {
  float:left;
  width: 30%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, 
th {
  border: 2px solid #000;
  padding: 8px;
  text-align: left;
}

#fact-container {
  margin-top: 20px;
}

body {
  background-color: lavender;
}

img {
  max-height:100%;
  max-width:100%;
}

#images {
  padding: 100px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  color: black;
  display: block;
  float: left;
  padding: 24px 26px;
  text-align: center;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: purple;
}