#intro {
  padding: 50px;
  margin: 50px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
}

#fact-container {
  margin-top: 20px;
}

body {
  background-color: lavender;
}

img {
  width: 500px;
}

#images {
  padding: 100px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: purple;
}